<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUIY8Fpcbn4OJbXj4jdutijik7HBgN7JY</string>
	<key>GCM_SENDER_ID</key>
	<string>486513434907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dontrellthedeveloper.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-537e0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-537e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486513434907:ios:cf55ccd4c3d0589f9eb3be</string>
</dict>
</plist>